
#ask about 


mysql:
  image: mysql:5.7.14
  volumes:
   - "db:/var/lib/mysql"
  environment:
    MYSQL_ROOT_PASSWORD: $$3cureUS
    MYSQL_DATABASE: cs4501
    MYSQL_USER: www
    MYSQL_PASSWORD: $$3cureUS
  ports:
    - "3306:3306"
models:
    image: tp33/django
    links:
      - mysql:db
    #external_links:
    #  -  mysql:db
    volumes:
      - ./tangerine:/app
    ports:
      - "8001:8000"
      #command: bash -c "<command_1> && <command_2> && ..."
    command: bash -c "python manage.py makemigrations && python manage.py migrate &&
      mod_wsgi-express start-server --reload-on-changes ./tangerine/wsgi.py"