{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content_title %}
    About Us
{% endblock %}

{% block content %}
    <p> Founders: Byung, Jiaming, Jon. <br> We have a thirst for quality-assured, speedy, fun, and beautiful bicycles.
            There's nothing better in the world than riding a bicycle without overwhelming expenses.
            Come join us for a quick and easy journey through our stores of bicycles. We're sure you'll enjoy the shopping experience here.</p>
{% endblock %}
