{% extends "base.html" %}

{% block title %}List of Bicycles{% endblock %}

{% block content_title %}
    Bicycle List
{% endblock %}

{% block content %}
    <div class="bike-list">
        {% for i in "xxx" %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">TEMP NAME TESTING - REPLACE WITH DJANGO CODE {{ forloop.counter0 }}</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>
                                helo bich
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}